body {
	font-family: Bungee;
	width: 100%;
	background-color: black;
}

p {
	color: white;
}

nav {
  margin-right: 20px;
}

nav li {
  display: inline;
  padding: 3px;
  position: relative;
  top: -50px;
}

header {
  height: 200px;
  background-color: black;
  color: white;
}

h1 {
  font-size: 100px;
}

.top_logo {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: firebrick;

}

.landing_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profPic {
	float: left; 
	height: 120px;
	width: 120px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
}

.bio-1 {
	float: left;
	height: 300px;
	width: 35%;
	margin-left: 13%;
	background-color: black;
	margin-top: 2%;	
}

b {
	font-size: 26pt;
}

.bio-2 {
	float: left;
	height: 300px;
	width: 35%;
	background-color: black;
	margin-left: 3%;
	margin-top: 2%;
}

.bio-3 {
	float: left;
	height: 300px;
	width: 35%;
	background-color: black;
	margin-left: 13%; 
	margin-top: 2%;
}

.bio-4 {
	float: left;
	height: 300px;
	width: 35%;
	background-color: black;
	margin-left: 3%;
	margin-top: 2%;
}

.profile {
	color: goldenrod;